[submodule "bash-sensible"]
	path = bash-sensible
	url = https://github.com/mrzool/bash-sensible
[submodule "karel"]
	path = karel
	url = https://github.com/karel-brinda/bin
[submodule "tabulator"]
	path = tabulator
	url = https://github.com/stefan-schroedl/tabulator
